*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

nav{
	background: black;
	height: 80px;
	width: 100%;
	font-family: monospace;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	text-align: center;
	padding: 20px;
	 margin: 0px auto;


}
label{
	margin:0px auto;
}


}
nav ul{

	margin-right: 20px;
	float: right;
	
	}
nav ul li{
	display: inline-block;
	line-height: 80px;
	padding: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 25px;
}
 a:hover{
	background: grey;
	
	transition: .2s;

}
.checkbtn{
	color:    white;
	padding: 5px;
	border-radius: 5px;
	font-size: 30px;
	text-decoration: none;
	float: right;
	line-height: 80px;
	margin-right: 30px;
	cursor: pointer;
	display: none;

	
}
#check{
	position: relative;
	display: none;
}
#break{
	display: none;
}
#topic{
	text-align: center;
	margin: 0px auto;
	width: 100%;
}
 #container{
	width: 70%;
	margin: 0px auto;
	padding: 10px;
	background: #dcdcdc;
	margin-top:20px;
}
h2{
	text-align: center;
	padding: 5px 0px,
	margin:0px auto;
	margin-bottom: 10px;
}



@media (max-width: 952px) {
	label.logo{
		font-size:30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}


@media (max-width: 858px) 
{
	.checkbtn{
		display: block;
		line-height:60px; 

	}
	ul{
		position: fixed;
		width: 100%;
		background: black;
		height: 100vh;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		background: black;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	
		
	
	#break{
		margin: : 5px 0px;
		display: block;
		width: 80%;
		margin: 0px auto;
	}
	#check:checked ~ ul{
		left: 0;

	}
	#topic{
		padding-left: 10px;
	}

}



